@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./components/animations.css";
@import "./components/button.css";
@import "./components/tooltip.css";
@import "./components/cards.css";
@import "./components/typography.css";
@import "./components/form.css";

@import "tailwindcss/utilities";
@import "./utilities/effects.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.logo-effect {
  background: url('/images/logo-effect.svg') center/140% auto no-repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

a {
  color: inherit;
  @apply underline;
}

* {
  box-sizing: border-box;
}